# **------------------------------------------- 01 --------------------------------------------**
# **---------------------------- PENGENALAN PYTHON ----------------------------------**

Notebook ini merupakan salah satu dari series #BelajarDataScience yang dibuat oleh Muhammad Farras Alyafi khusunya untuk yang tidak memiliki latar belakang IT, statistika ataupun matematika. Notebook dan juga yotube seriesnya diusahakan dibuat semudah mungkin agar mudah dipahami. Semoga notebook ini bermanfaat. Silahkan bagikan notebook ini dan jangan lupa cek video lainya di link berikut:
https://youtu.be/F2VmHPqdxEM

# 1. Cara Kerja

Secara mudahnya, cara kerja python adalah dengan mengeksekusi atau menampilkan codingan secara baris perbaris dimulai dari yang paling pertama atau atas. Contohnya seperti di bawah ini:

In [4]:
print("ini adalah baris pertama") # ----> ini baris pertama
print("ini adalah baris kedua") # ----> ini baris kedua
print("ini adalah baris ketiga") # -----> ini abris ketiga

ini adalah baris pertama
ini adalah baris kedua
ini adalah baris ketiga

Nah, kalo dilihat, python akan menampilkan "ini adalah baris pertama" kemudian baris kedua dan ketiga. Jadi python akan menampilkan sesuai dengan urutan codinganya.

# 2. Comment

Comment adalah tanda "#" / pagar yang digunakan agar codingan tidak ditampilkan atau dilewati oleh python. Jadi ketika ada tanda "#", maka python tidak akan mengeksekusi atau menampilkan codinganya seperti contoh di bawah ini:

In [6]:
print("ini adalah baris pertama") #ini adalah contoh comment yang tidak akan dijalankan atau ditampilakn oleh python
#print("ini adalah baris kedua")
print("ini adalah baris ketiga")

ini adalah baris pertama
ini adalah baris ketiga

Bisa dilihat contoh di atas, bahwa pada baris pertama ada tanda "#" dan kalimat setelah codingan, tetapi di outputnya tidak ditampilkan oleh python. Kemudian juga pada baris kedua, sebelum tulisan "print" terdapat tanda "#", sehingga baris kedua akan di lewati oleh python dan langsung mengeksekusi baris ketiga.

# 3. Error

Error adalah kejadian dimana python tidakdapat menjalankan codingan dikarenakan kesalahan pada codingan. Ada beberapa error sumber error yang mungkin menjadi sebab seperti salah penulisan, tidak lengkap sytanxnya, atau kesalahan dalam codingan.

In [1]:
#Contoh Error Salah Penulisan
frint('ini adalah contoh error kesalah penulisan')

NameError: name 'frint' is not defined

In [2]:
#Contoh kesalhan dalam penulisan syntax
print("ini adalah baris pertama")
print("ini adalah baris kedua")
print("ini adalah baris ketiga)

SyntaxError: EOL while scanning string literal (<ipython-input-2-bde56047346f>, line 4)

Kalo misalnya kita ga tau errornya karena apa, solusinya adalaahhhhhhh..... GOOGLE! Bisa cari di google, terutama website seperti stackoverflow. Ga perlu takut kalo error, pasti bakal sering terjadi, jadi tenang saja.

# 4. Type Objects

Ada bebeberapa tipe object di python, tapi kita coba dari yang paling dasar dulu ya, nanti kedepanya di notebook yang lain akan dibahas juga. Nah, disisni ada empat tipe object.

1. String: ini adalah bentuk object yang isisnya kata-kata atau hurf atau kalimat
2. Integer: isinya adalah angka yang bukan desimal jadi contohnya kayak (1, 2, 3, atau -1, -2, -3)
3. Float: isinya adalah angka desimal, jadi contohnya kayak (1.2 , 1.3 atau -3.4, -1.2)
4. Boolean: isinya itu antara True (Benar) atau False (Salah)

In [12]:
"ini adalah tulisan" #ini adalah string

'ini adalah tulisan'

In [13]:
1 #ini adalah integer (1, 2, 3, -1, -20, 100)

1

In [14]:
1.2 #ini adalah float (1.1, 1.3, 1.7, -1.9)

1.2

In [16]:
True #ini adalah boolean

True

In [17]:
False #ini adalah boolean

False

# 5. Basic Operators

Python juga bisa melakukan beberapa operasi matematika ataupun logika dll. Tetapi kita coba mulai dengan contoh aritmatika dulu agar teman-teman bisa terbayang. Untuk contohn operator lainya akan ada di video dan notebook selanjutnya. Di bawah ini adalah contoh penggunaan operator aritmatika di python. Bisa digunakan di semua tipe object.

In [18]:
# integer + integer
1 + 1

2

In [19]:
# integer + float
1 + 3.5

4.5

In [20]:
# integer - integer
1 - 4

-3

In [21]:
# integer dibagi integer
4/2

2.0

In [22]:
# integer dibagi integer
4 //2

2

In [23]:
# perkalian
5 * 5

25

In [24]:
# pangkat
5 **2

25

In [3]:
#pangkat
5 **3

125

# 6. Variable

Di python, tipe-tipe object ataupun nilai bisa dimasukkan ke dalam variabel. Ada beberapa ketentuan pembuatan variabel seperti:

1. Variabel tidak bisa dinamakan dengan awalan angka
2. variabel tidak bisa menggunakan spasi, jadi harus ada penghubung misalnya _ "under score"
3. Variabel tidak bisa pakai simbol :'",<>/?|\()!@#$%^&*~-+
4. Variabel tidak bisa pakai kata yang sudah dipakai dalam pemrograman python atau disebut Reserved Word (False, True, for, in, dll)

In [4]:
#contoh pembuatan variabel
x = 2

In [27]:
x

2

In [5]:
#contoh pembuatan variabel
y = 3

In [29]:
z = x + y

In [30]:
z

5

In [31]:
# contoh variabel yang isinya string
d = "ini adalah contoh variable yang isinya string"
d

'ini adalah contoh variable yang isinya string'

In [32]:
# contoh penulisan variabel yang salah dengan angka
10 = "ini adalah contoh yang salah"

SyntaxError: cannot assign to literal (<ipython-input-32-77d6d3bd67ec>, line 1)

In [6]:
#contoh penulisan variabel yang salah dengan sepasi
nama variabel = 'ini contoh yang salah'

SyntaxError: invalid syntax (<ipython-input-6-86caeddcd921>, line 2)

In [7]:
#contoh penulisan variabel yang salah dengan simbol
< = 'ini contoh yang salah'

SyntaxError: invalid syntax (<ipython-input-7-c4f4aa5e75f2>, line 2)

In [38]:
#contoh penulisan variabel yang salah dengan kata-kata yang sudah dipakai python
False = 'ini adalah contoh variabel yang salah'

SyntaxError: cannot assign to False (<ipython-input-38-10a25e05b4ea>, line 1)

In [11]:
#contoh penulisan variabel yang kurnag baik (susah dibaca)
inicontohyangkurangbaik = 10

In [10]:
#contoh yang baik
ini_contoh_yang_baik = 10

In [36]:
#Isi variabel berbeda sesuai dengan namanya
umur = 17
Umur = 20

In [37]:
print(umur)
print(Umur)

17
20

# 7. Help / ?

Kalo misalanya ga tau kegunaan syntax atau codingan yang ada di python, bisa menggunakan tanda tanya "?" atau dengan menggunakan (help)

In [9]:
#contoh pakai tanda tanya "?"
print?

In [40]:
#contoh pakai help
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# 8. Tab Complition

Python juga memudahkan kita dalam penulisan code, jadi kita bisa melengkapi codingan kita secara otomatis dengan menekan tombol "tab" pada keyboard kita. Kalo misalnya ada beberapa syntax atau codingan yang sama, nanti akan muncul pilihan. Tapi, kalo misal cuma ada satu nanti dia langsung otomatis melengkapinya.

In [13]:
#contoh yang akan keluar pilihan
ini #ketika setelah menulis "ini" coba pencet tombol "tab" nanti akan keluar pilihan

In [15]:
#contoh yang langsung otomatis ngisi
ini_contoh_yang_b #coba tekan "tab" setelah huruf b, nanti dia kan otomatis ngisi

# 9. Indexing

Jadi, kalo indexing itu cara untuk mengambil nilai atau value pada data berdasarkan index atau posisinya.

**Note: indexing selalu dimulai dari nol (0)**

In [16]:
#Buat variabel nama
nama = "agus cyntah kamoe"

In [18]:
#contoh indexing posisi pertama
print(nama[0])

a

In [20]:
#contoh indexing posisi ke 8
print(nama[8])

t

In [21]:
#contoh indexing posisi ke 16
print(nama[16])

e

# 10. Negative Indexing

Ini kebalikanya indexing biasa. Jadi ngambil nilai atau value pada data tapi urutanya dirubah dari belakang.

**Note: negative indexing selalu dimulai dari -1 (-1)**

In [22]:
#contoh negative indexing paling awal
print(nama[-1])

e

In [25]:
#contoh negative indexing ke 5 dari akhir
print(nama[-5])

k

In [26]:
#menghitung panjang dari data
len(nama)

17

# 11. Slicing

Slicing itu ibaratnya kita mau motong-motong data atau ngambil bagian dari data yang kita punya. Jadi, kita bisa ambi nilai di posisi 0 sampai 5 atau di posisi 10 sampai 15.

***Note: slicing berhenti sebelum angka yang ditentukan, jadi kalo [0:5], hasilnya akan 0,1,2,3,4 ***

In [28]:
#contoh slicing
print(nama[0:4])

agus

In [33]:
#contoh slicing
print(nama[12:18])

kamoe

In [84]:
#penulisan lain untuk index 0 / pertama
print(nama[:4])

agus

In [85]:
#penulisan lain untuk sampai index terkahir
print(nama[12:])

kamoe

In [64]:
#contoh slicing dengn negative indexing ---- > harus dengan stride

# 12. Stride

Kalo stride, dia akan ngambil nilai atau value yang cara pengambilanya bisa kita atur longkapnya,misal setiap 1 kali atau 2 kali.

In [43]:
nama

'agus cyntah kamoe'

In [46]:
#contoh stride yang longkap 2
print(nama[0:12:2])

au yth

In [47]:
#contoh stride longkap 3
print(nama[0:18:3])

asyako

In [49]:
#contoh stride dengan neagitve indexing
print(nama[-1:-6:-1])

eomak

# 13. Concatenate String

Menggabungkan kan string dengan menggunakan operasi aritmatika (+ , *)

In [54]:
#contoh concatenante string
print(nama + " is the best")

agus cyntah kamoe is the best

In [52]:
#contoh concatenate string
pekerjaan = ' adalah data scientist'
print(nama + pekerjaan)

agus cyntah kamoe adalah data scientist

In [55]:
#cntoh concatenate
print(nama * 3)

agus cyntah kamoeagus cyntah kamoeagus cyntah kamoe

# 14. Escape Sequence

Jadi kaloescape sequence ini adalah cara untuk memasukkan string yang susah ditulisakan (enter, tab, dll).

In [68]:
#contoh escape sequence untuk enter
print('agus adalah seorang \n data scientist')

agus adalah seorang
 data scientist

In [69]:
#contoh escape sequence untuk tab
print('agus adalah seaorang \t data scientist')

agus adalah seaorang 	 data scientist

In [70]:
#conoth escape sequence untuk \
print('agus adalah seorang \\ data scientist')

agus adalah seorang \ data scientist

In [71]:
#contoh lain dari \
print(r'agus adalha seorang \ data scientist')

agus adalha seorang \ data scientist

# 15. Print Formating

Ada 3 cara yang bisa digunakan untuk menulisakna printing:

1. print() ----> biasa
2. print() ----> %s ()
3. print() ----> .format()

In [72]:
#contoh print biasa
print(nama, pekerjaan)

agus cyntah kamoe  adalah data scientist

In [75]:
#menambahkan variabel baru
nama_karyawan = 'agus'
jabatan = 'manager'
tahun = 10
domisili = 'Jakarta'

In [80]:
#contoh print formating dengan %s
print('nama karyawan %s, jabatnya adalah seorang %s, lama bekerjanya %s, domisilinya di %s' % (nama_karyawan, jabatan, tahun, domisili))

nama karyawan agus, jabatnya adalah seorang manager, lama bekerjanya 10, domisilinya di Jakarta

In [81]:
#contoh print formating dengan .format()
print('nama karyawan {}, jabatanya adalah seaorang {}, lama bekerjanya {}, domisilinya di {}' .format(nama_karyawan, jabatan, tahun, domisili))

nama karyawan agus, jabatanya adalah seaorang manager, lama bekerjanya 10, domisilinya di Jakarta

Terima kasih sudah membaca sampai akhir, semoga bermanfaat. Pesan saya jangan lupa banyak latihan dan tidak perlu mengingat semua syntax atau codennya, yang penting tau logika kerjanya bagaimana. Jika dirasa notebook ini bermanfaat silahkan disebarluaskan. Terima kasih.


Salam,


M. Farras Alyafi