# **------------------------------------------- 06 --------------------------------------------**
# **------------ PENGGUNAAN MAP, FILTER, REDUCE & LAMBDA ------------**

Notebook ini merupakan salah satu dari series #BelajarDataScience yang dibuat oleh Muhammad Farras Alyafi khusunya untuk yang tidak memiliki latar belakang IT, statistika ataupun matematika. Notebook dan juga youtube seriesnya diusahakan dibuat semudah mungkin agar mudah dipahami. Semoga notebook ini bermanfaat. Silahkan bagikan notebook ini dan jangan lupa cek video lainya di link berikut:

https://youtu.be/F2VmHPqdxEM

# 1. Lambda

Jadi sebenernya lambda itu adalah function tapi dalam satu baris atau biasa disebut dengan anonymous function. Enaknya karena dia simpel jadi bsia dimasukkan ke dalam function yang lainya. Dia bisa masukin banyak argumen tapi hasilnya hanya satu.

Cara codinganya:

lambda arguments: expression

In [1]:
#contoh pembuatan function 
def penjumlahan(x,y):
    return x + y

In [2]:
penjumlahan(1,1)

2

In [3]:
#contoh penggunaan lambda
penjumlahan_lmd = (lambda x,y : x + y)

In [4]:
penjumlahan_lmd(1,1)

2

In [14]:
#contoh if statement didalam lambda
lolos_tes = lambda x : 'Lolos' if x > 50 else 'Gugur'

In [16]:
lolos_tes(30)

'Gugur'

In [17]:
#contoh penggunaan lambda di dalam method
penjualan = [('Bakso', 30), ('Soto', 20), ('Mie', 50), ('Gorengan', 10)]

penjualan.sort(key=lambda x: x[1]) #ini salah satu kegunaan lamda, jadi bisa masukkan function ke dalam method/function

print(penjualan)

[('Gorengan', 10), ('Soto', 20), ('Bakso', 30), ('Mie', 50)]

# 2. Map
Map pada daasrnya adalah mengapikasikan function kedalam sebuah input dan menjadikanya object.


Cara codinganya:

map(function_to_apply, itterables)

In [18]:
#contoh menggunakan looping
input_list = [1,2,3,4,5,6,7,8,9,10]
hasil_kuadrat = []

for a in input_list:
    hasil_kuadrat.append(a**2)
    
print(hasil_kuadrat)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
#contoh menggunakan map dengan lambda
input_list = [1,2,3,4,5,6,7,8,9,10]

hasil_kuadrat_lmd = list(map(lambda a : a**2, input_list))

print(hasil_kuadrat_lmd)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
#contoh menggunakan looping
nama = ['adi', 'ucok', 'adam', 'nia', 'rio']
nama_besar = []

for a in nama:
    nama_besar.append(a.upper())
    
print(nama_besar)

['ADI', 'UCOK', 'ADAM', 'NIA', 'RIO']

In [21]:
#contoh penggunaan map dengan function
nama = ['adi', 'ucok', 'adam', 'nia', 'rio']

nama_besar_map = list(map(str.upper,nama)) #kita tidak mengunakana str.upper() karena secara otomatis si map sudah melakukkanya

print(nama_besar_map)

['ADI', 'UCOK', 'ADAM', 'NIA', 'RIO']

# 3. Filter

Bedanya dengan map,kalo filter dia akan menghasilkan boleaan, sehingga yang ditampilkan hanya hasil yang sesuai atau True.

In [22]:
#contoh filter dengan looping
nilai = [70,75,55,50,45,70,70,80,85,65,70,90,90,85,100]
hasil_loop = []

for i in nilai:
    if i > 65:
        hasil_loop.append(i)
        
print(hasil_loop)

[70, 75, 70, 70, 80, 85, 70, 90, 90, 85, 100]

In [23]:
#contoh filter dengan menggunakan function
def lolos(nilai):
    hasil = []
    for i in nilai:
        if i > 65:
            hasil.append(i)
    return hasil

In [24]:
print(lolos(nilai))

[70, 75, 70, 70, 80, 85, 70, 90, 90, 85, 100]

In [25]:
#contoh penggunan filter dengan lambda
nilai = [70,75,55,50,45,70,70,80,85,65,70,90,90,85,100]

lolos_filter = list(filter(lambda x : x > 65,nilai))

print(lolos_filter)

[70, 75, 70, 70, 80, 85, 70, 90, 90, 85, 100]

In [26]:
#contoh mengabungkan map dengan filter
nama = ['Andi', 'Jajang', 'Nia', 'Reno', 'Dwi']

hasil = list(map(lambda nama: 'Katakter lebih dari 3: {}'.format(nama),
                 filter(lambda nama: len(nama)>3, nama)))

print(hasil)

['Katakter lebih dari 3: Andi', 'Katakter lebih dari 3: Jajang', 'Katakter lebih dari 3: Reno']

# 4. Reduce

Kalo reduce itu cara kerjanya cumulative, jadi dia akan menggabungkan perhitungan sebelumnya dengan elemen atau input setelahnya.

In [27]:
#contoh penggunaan reduce
from functools import reduce

nilai = [1,2,3,4,5]

output_reduce = reduce(lambda x,y :  x+y, nilai)

print(output_reduce)

15

In [29]:
#contoh penggunaan initial value di dalam reduce
nilai = [1,2,3,4,5]

output_reduce = reduce(lambda x,y :  x +y, nilai,10)

print(output_reduce)

25